*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}
:root {
    --color-principal: #4d13d1;
}

/*Elementos Globales*/
a {     
    text-decoration: none;
    color: black;
}

/* Botones (Entrar, Registrarse e Iniciar Prueba Gratis */

.login .btn_register button,
.info_create .start_free button {   
    font-size: 1.7rem; 
    font-weight:bold;
    height: 4rem;
    padding: .8rem 1.5rem;
    background-color: var(--color-principal);
    color: #FFFDDC;
    cursor: pointer;
    border: none;
    border-radius: .5rem;
}
.login .btn_login button,
.container_free .free_description .btn_StartFree button {  
    font-size: 1.7rem;  
    font-weight:bold;
    height: 4rem;
    margin-right: .5rem;
    padding: .8rem 1.5rem;
    background-color: #FFFDDC;
    cursor: pointer;
    border: none;
    border-radius: .5rem;
}
.container_free .free_description .btn_StartFree button{
    background-color: white;
    color: var(--color-principal);
    height: auto;
}
.login .btn_resgister button:hover,
.info_create .start_free button:hover,
.login .btn_login button:hover {
    background-color: #FFFDDC;
    border: .2rem solid var(--color-principal);
    border-radius: .5rem;
    color: var(--color-principal);    
}
.container_free .free_description .btn_StartFree button:hover {
    color: black;
}

/* Elementos de la barra de navegación */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.5rem;
    padding: 1rem 6rem;
    font-size: 1.7rem;
    background-color: #FFFDDC;
}
.Name_page h1{
    font-size: 3rem;
    font-weight:bold;
}
.items_page ul{
    font-weight: 500;
    display: flex;
}
.items_page li {
    list-style: none;    
    padding-left: 1rem;
    padding-right: 1rem;
}
.items_page li a:hover {
    cursor: pointer;
    color: var(--color-principal);
    font-weight: 800;
}

/* Elementos Sección Contenido de "Crear Portafolio" */

.container_create {
    display: flex;
    justify-content: center;    
    align-items: center;
    padding: 1.8rem 6rem 4rem 6rem;
    background-color: #FFFDDC;
}
.container_create .info_create {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.container_create .info_create .star_point img,
.container_create .info_create .descripcion_check img {
    height: 1.2rem;
    margin: 0 .2rem;
}
.container_create .info_create .star_point b {
    margin-left: .8rem;
}
.container_create .info_create .star_point {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0;
}
.container_create .info_create .create_port {
    font-size: 5rem;
    font-weight:800;
    line-height: 1;
}
.container_create .info_create .desc_port {
    font-size: 1.3rem;
    margin-top: 1rem;
}
.container_create .info_create .start_free {
    margin: 1.5rem 0;
}
.container_create .info_create .start_free .examplet {
    margin-left: 1rem;
    color: var(--color-principal);
    font-weight:bold;
    font-size: 1.5rem;
}
.container_create .info_create .descripcion_check {
    display: flex;
    flex-wrap: wrap;

}
.container_create .info_create .descripcion_check figure {
    display: flex;
    margin-right: 1rem;
}
/* Imagen Crear Portafolio */
.container_create .card_img img{
    height: 48rem;
}

/* ELementos sección "¿Por que usar Fiber?" */

.container_whyFiber {
    margin-top: 4rem;
    padding: 0 6rem;
}
.container_whyFiber .why_use h2 {
    font-size: 1.3rem;
    font-weight: 900;
    color: var(--color-principal);
    margin-bottom: .8rem;
}
.container_whyFiber .why_use p {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 2.5rem;
}
.container_whyFiber .applications {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}
.container_whyFiber .applications img {
    height: 3rem;
}
.container_whyFiber .applications .applications_items:nth-child(2) {
    margin: 0 2.3rem;
}

/* Elementos sección empieza prueba gratuita */
.container_free {
    max-height: 35rem;
    width: auto;
    background: rgb(103,19,209);
    background: linear-gradient(45deg, rgba(103,19,209,1) 0%, rgba(77,19,209,1) 100%);
    margin: 4rem 6rem;
    padding-left: 4rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center
}
.container_free .free_description h1{
    font-size: 3rem;
    font-weight: 800;
    color: white;
    margin-bottom: 1rem;    
}
.container_free .free_description p{
    font-size: 1.5rem;
    font-weight: 300;
    color: white;
    margin-bottom: 1.5rem;    
}
.container_free img {
    position: relative;
    max-height: 30rem;
    width: auto;
    margin: 5rem 4rem 0 4rem;
    object-fit: cover;
}